.fileupload {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &_choosecta {
    background-color: var(--neutral-400);
    color: var(--neutral-50);
    padding: 2rem 4rem;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: var(--header2);
    margin: 2rem auto;
    transition: background-color 0.1s linear;
    &:hover {
      background: var(--neutral-700);
    }
    &-loading {
      pointer-events: none;
    }
  }
  &_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &_image {
    width: 14rem;
    height: 14rem;
    margin: 1rem;
  }
  &_totalImg {
    font-size: var(--header3);
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}
