@mixin flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  min-height: 90vh;
  @include flex;

  .card {
    @include flex;
  }
  .checkmark {
    font-size: 8rem;
  }
  .error {
    color: var(--error);
  }
  .success {
    color: var(--success);
  }
  .heading {
    font-size: 6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--neutral-600);
  }
  .description {
    font-size: 2rem;
    color: var(--neutral-700);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
