.header {
  display: flex;
  background: var(--neutral-200);
  position: sticky;
  top: -1px;
  z-index: 3;
  // border-bottom: 1px solid var(--neutral-300);

  nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    min-height: 5vh;
  }
  ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;

    li {
      padding: 0.5rem 1rem;
      letter-spacing: 1px;
    }
  }
}
