.hamburger-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button__line {
  width: 24px;
  height: 2px;
  background: var(--neutral-500);
}

@media (max-width: 786px) {
  .hamburger-button {
    display: flex;
    height: 20px;
  }
}
