.cart {
  h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--neutral-300);
  }
  .text_empty {
    margin: 5rem auto;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: var(--header4);
    color: var(--neutral-400);
  }
  .product {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    h4 {
      text-align: center;
      text-transform: uppercase;
      margin-top: 1rem;
    }
  }
  .btn {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
    // &_cart {
    //   border-bottom: 2px solid var(--neutral-900);
    // }
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
  }
  .warning {
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: var(--neutral-500);
  }
  select {
    padding: 4px 4px;
    background-color: var(--neutral-100);
    color: var(--neutral-700);
    border: 1px solid var(--neutral-500);
    margin: 0px 4px;
    border-radius: 4px;
  }
}
