.parent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  transition: background-color 0.3s linear;

  .sidedrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: var(--neutral-100);
    padding: 32px 16px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: transform 0.1s linear;
    &_close {
      position: absolute;
      right: 1rem;
      font-size: var(--header1);
      cursor: pointer;
    }
  }
  &.open {
    background-color: #d1d5dbc7;
  }
  &.close {
    background-color: transparent;
    pointer-events: none;
  }
  &.open .sidedrawer {
    transform: translateX(0);
  }
  &.close .sidedrawer {
    transform: translateX(-100%);
  }
}

// @media (min-width: 500px) {
//   .sidedrawer {
//     display: none;
//   }
// }
