@mixin placeholder {
  color: var(--neutral-600);
  font-size: var(--header4);
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  .icon {
    @include placeholder;
    margin: -10px;
  }
  ::-webkit-input-placeholder {
    /* Edge */
    @include placeholder;
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    @include placeholder;
  }
  ::placeholder {
    @include placeholder;
  }
  .input-highlight {
    font-size: var(--header3);
    user-select: none;
    border-top: 1px solid var(--neutral-400);
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 0;
    color: transparent;
    overflow: hidden;
  }

  input {
    height: 30px;
    border-radius: 0;
    background-color: transparent;
    color: var(--neutral-600);
    font-size: var(--header3);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--neutral-400);
    max-width: 100%;
    @media only screen and(max-width:786px) {
      height: 26px;
    }
    &:focus {
      + .input-highlight {
        border-top: 1px solid #fbc91b;
      }
    }
  }
}
