@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  /* Colors */
  --neutral-900: #111827;
  --neutral-800: #1f2937;
  --neutral-700: #374151;
  --neutral-600: #4b5563;
  --neutral-500: #6b7280;
  --neutral-400: #9ca3af;
  --neutral-300: #d1d5db;
  --neutral-200: #e5e7eb;
  --neutral-100: #f3f4f6;
  --neutral-50: #f9fafb;
  /* Font size */
  --header1: 1.8rem;
  --header2: 1.6rem;
  --header3: 1.4rem;
  --header4: 1.2rem;
  --header5: 1.1rem;
  --paragraph: 1rem;
  --helperText: 0.8rem;
  --copyrightText: 0.7rem;
  /*Alert*/
  --error: #ff0000b0;
  --success: #6ec009cf;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neutral-200);
}
h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--paragraph);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--neutral-900);
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: -2px;
  left: 0;
  background-color: var(--neutral-400);
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

a:hover:before {
  visibility: visible;
  height: 1px;
}
.carouselHeading {
  min-height: 20vh;
  font-size: 4rem;
  letter-spacing: 1.2px;
  background-color: var(--neutral-200);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .carouselHeading {
    font-size: 3rem;
  }
}
@media (max-width: 568px) {
  .carouselHeading {
    font-size: 2rem;
  }
}
